header {
    background-color: coral;
}

h2 {
    background-color: cadetblue;
}

h3 {
    background-color: cadetblue;
}

body {
    margin: auto;
    width: auto;
    text-align: center;
}

img {
    border: burlywood;
    border-radius: 50%;
    border-width: 5px;
    border-style: dashed;
}